!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Page Title
  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-width:1px;border-style:solid;border-color:#e9e9e9;padding-top:50px;padding-left: 62px;padding-right: 62px; padding-bottom: 60px; font-family:Georgia;font-size: 18px;line-height: 16px;color:#000", :width => "600"}
      %tbody
        %tr
          %td{:align => "left", :style => "padding-bottom:40px"}
            %img{:alt => "", :height => "128", :src => "images/logo.png", :width => "127"}/
        %tr
          %td{:align => "left", :style => "padding: 5px; padding-bottom: 40px;"}
            Уважаемый покупатель, для прохода на мероприятие необходимо предъявить данный сертификат в распечатанном или электронном формате.
        %tr
          %td{:align => "left", :style => "padding: 5px;font-size: 28px;padding-bottom: 30px;"}
            {Фамилия} {Имя}
        %tr
          %td{:align => "left", :style => "padding: 5px;padding-bottom: 40px;"}
            Спасибо за заказ!
        %tr
          %td{:align => "left"}
            %table{:align => "left", :cellpadding => "0", :cellspacing => "0", :style => "padding-left: 20px;font-size: 14px;line-height: 16px;padding-bottom: 35px;"}
              %tbody
                %tr
                  %td Заказ # {12345678}
                %tr
                  %td Дата {31.12.2020}
                %tr
                  %td Оплачен: Банковской картой ID транзакции: {12345678}
        %tr
          %td{:style => "padding: 5px;", :width => "500"} Телефон для справок: 640-16-16
