!!!
%html{:lang => "en"}
  / begin::Head
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Мероприятия
    %meta{:content => "Login page example", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / begin::Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700", :rel => "stylesheet"}/
    / end::Fonts
    / Bootstrap css
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / FontAwesome
    %link{:href => "css/fontAwesome.css", :rel => "stylesheet"}/
    / Select2
    %link{:href => "css/select2.css", :rel => "stylesheet"}/
    / Custom styles
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
  / end::Head
  %body
    / Beginning .header
    %header.header.header--fixed
      .backdrop
      .header__inner.container-fluid
        %button.navbar-toggler{"aria-controls" => "main-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main-nav", :type => "button"}
          %span.fas.fa-bars
        %nav#main-nav.header__navbar
          .navbar__inner.slim-scrollbar
            %button.header__navbar__close
              %i.fas.fa-times
            %ul.navbar-nav
              %li.nav-item
                %a.nav-link{:href => "#"} Заказы
              %li.nav-item.active
                %a.nav-link{:href => "#"} Мероприятия
              %li.nav-item
                %a.nav-link{:href => "#"} Настройки
        %nav.header__toolbar
          %ul.navbar-nav.mr-auto
            %li.nav-item.header__topbar-item.dropdown
              .header__topbar-wrapper{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                Иван Иванов
                %i.angle.fas.fa-chevron-down
              %span.header__topbar-icon.icon-bg--info.ml-3
                %i.far.fa-user
              .dropdown-menu.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-sm
                / begin: Head
                .dropdown-head.dropdown-head--dark
                  %h3.dropdown-head__title
                    .user Иван Иванов
                    %span ivanov@travel.com
                / end: Head
                .user-links
                  %a.dropdown-item{:href => "#"}
                    %i.fas.fa-angle-double-right
                    Account
                  %a.dropdown-item{:href => "#"}
                    %i.fas.fa-angle-double-right
                    Log Out
    / End .header
    %main.main-content
      .container-fluid
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb
            %li.breadcrumb__item
              %a{:href => ""}
                %i.fas.fa-home
            %li.breadcrumb__item
              %a{:href => "#"} Мероприятия
            %li.breadcrumb__item -
            %li.breadcrumb__item.active{"aria-current" => "page"} Создание
        .portlet
          .portlet__head
            .portlet__head-label
              %h3.portlet__head-title
                Новое мероприятие
            .portlet__head-toolbar
              .portlet__head-wrapper
                .portlet__head-actions
                  %a.btn.btn-sm.btn-danger{:href => "#"}
                    Назад к списку
          .portlet__body
            %form{:action => "#"}
              .row.mb-40
                .col-xl-3
                .col-xl-6
                  .row.mb-30
                    .col-lg-10
                      .form-group
                        %label.control-label{:for => ""} Название *:
                        %input.form-control{:type => "text"}/
                      .form-group
                        %label.control-label{:for => ""} Дата*:
                        %input.form-control{:type => "text"}/
                      .form-group
                        %label.control-label{:for => ""} Описание:
                        %textarea.form-control
                  .row
                    .col-sm-10.text-center
                      %button.btn.btn-success{:type => "button"} Создать и перейти к настройкам
                .col-xl-3
    %footer.footer
      .container-fluid
        .row
          .col-md-4.footer__left
            %p
              2020 © Ginza Ticket System By
              = succeed "." do
                %a{:href => "#"} Ginza
          .col-md-8.footer__right
            %ul.footer__list
              %li
                %a{:href => "#"} Privacy
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Terms &amp; Conditions
              %li
                %a{:href => "#"} Support
              %li
                %a{:href => "#"}
                  %i.far.fa-question-circle
    #scrollToTop.scrollToTop
      %i.fas.fa-arrow-up
    %script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/select2.min.js"}
    %script{:src => "js/bootstrap-datetimepicker.min.js"}
    %script{:src => "js/script.js"}
