// colors
$black:#000;
$white:#fff;
$grey: #A9A9AA;
$light-grey:#f7f8fa;
$light-grey2:#F8F9FA;
$light-grey3:#ebedf2;

// Brand colors
$info:#22B9FF;
$danger:#F4516C;
$success:#1DC9B7;
$primary:#5867DD;
$warning:#FFB822;
$brand: #6F42C1;
$purple: #6F42C1;
$dropdown_bg:#574CC6;

$text-color:#575962;
$text-color2:#434349;
$text-color3:#868AA8;

$link-color:#716ACA;