// Colors
$black: #000;
$black2:#2D2D33;
$black3:#232329;
$white:#fff;
$grey:#ccc;
$grey2:#6E6E80;
$light-grey1:#BABABA;
$light-grey2:#E0E0E0;


$info:#2196F3;
$primary:#104673;
$success:#2ECC71;
$warning:#F1C40F;
$danger:#E74C3C;
$purple:#9B59B6;
$orange:#E67E22;
$dark-grey:$grey2;

$left-sidebar-buttons-bd-hover:#104673;
$default-icon-bd: #26262B;
$widget-bg:#16161A;
$search-form-bg:#F5F5F5;
$label-default:#F5F5F5;
$sidebar-bottom-color:#848499;
$heading-color:#6E6E80;

// width
$left-sidebar-icon-dimensions-lg: 60px;
$left-sidebar-icon-dimensions-md: 50px;
$left-sidebar-icon-dimensions-sm: 40px;
$left-sidebar-padding: 40px;

$right-sidebar-width-lg: 430px;
$right-sidebar-width-md: 320px;

$form-control-lg:40px;

// Media screens' width
$screen-4k: 3900px;
$screen-extra-lg: 1400px;
$screen-lg: 1199px; 
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 480px;


// Datepicker vars
$dpxBackgroundColor: #444 !default;
$dpxActiveColor: #06f !default;
$dpxDaySize: 44px !default;
$dpxWeekdaySize: 24px !default;